@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-main-bg;
  color: $button-main-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-main-color !important;
    background-color: $button-main-hover-bg;
    text-decoration: none;
    @include button-hover-effect;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $color-dark;
  color: $color-dark;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $color-dark;
    color: $color-light;
    @include button-hover-effect($bg-color: $color-dark, $text-color: $color-light);
  }
}

.favorite {
  background-color: $primary;
  color: #ffffff;
}

.compare {
  background-color: $primary;
  color: #ffffff;
}
