@import "../../../styles/settings.scss";

.root {
  background-color: $productbox-bg;
  border: 1px solid $color-light-two;
  margin-bottom: 2rem;

  .price :first-child{
    @extend .transition-time;
  }

  .photo {
    position: relative;
    padding: 40% 10px 0 10px;
    background: {
      color: $color-light-two;
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;

    .timer {
      display: flex;
      justify-content: space-evenly;
      opacity: 0;
      
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: black;
        min-width: 60px;
        min-height: 60px;
        border-radius: 100%;
        margin-bottom: 10px;

        h5 {
          margin: 0;
          color: $text-color-light;
        }

        h6 {
          margin: 0;
          font-size: 13px;
          color: $text-color-light;
        }
      }
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $sale-tag-bg;
      border-radius: 50%;
      color: $sale-tag-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin-bottom:30%;
      opacity: 0;
      @extend .transition-time;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $color-dark;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:hover{
    .buttons{
      opacity: 1;
    }
    .price :first-child{
      background-color: #d58e32;
    }
    .timer{
     
        opacity: 0.7;
    }
  }
  .topBar{ 
    background-color: $header-topbar-bg;
    display: flex;
    justify-content: space-between;
    h4 {
      color: $text-color-light;
      font-size: 17px;
      padding: 10px 0 10px 20px;
      margin: 0;
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0 20px 0 0;
      list-style: none;
      background-color: $header-topbar-bg;
      transform: translateY(15px);

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: $color-light-two;
          font-size: 0;

          &.active,
          &:hover {
            background-color: $primary;
            @extend .transition-time;
            @extend .custom-transitions;
          }
        }
      }
    }
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .root {
    display: none;
  }
}
