@import "../../../styles/settings.scss";

.root {

  margin-bottom: 60px;
  text-transform: uppercase;

  .leftBox {
    background-color: blue;
    height: 380px;
    background-image: url('../../../images/products/sofa-1.jpg');
    background-size: cover;
    background-position: center;
  }

  .leftWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    color: $color-light;

    &::after {
        content: '';
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: $color-dark-three;
        opacity: .4;
        width: 90%;
        height: 90%;
        z-index: 1;
    }

    h3 {
      position: absolute;
      left: 8%;
      z-index: 2;
      font-weight: bold;
    }
  
    h3:nth-of-type(1) {
      bottom: 170px;
      font-size: 36px;
    }

    h3:nth-of-type(2) {
      bottom: 110px;
      font-size: 60px;
    }

    h3:nth-of-type(3) {
      bottom: 20px;
      font-size: 50px;
      padding: 10px;
      border: 4px solid $color-light;
    }
  }

  .rightTopBox {
    height: 170px;
    padding: 0;
    margin-bottom: 20px;
    background-image: url('../../../images/products/chair-1.jpg');
    background-size: cover;
    background-position: center;
  }

  .rightTopWrapper {
    position: relative;
    top: 20%;
    left: 10%;
    color: $color-dark;

    h3:nth-of-type(1) {
      font-size: 30px;
      font-weight: 300;
      margin: 0;
    }

    h3:nth-of-type(2) {
      font-size: 18px;
      letter-spacing: 4px;
      margin: 0;
    }

    h3:nth-of-type(3){
      font-size: 36px;
      font-weight: 700;
      color: $color-orange;
    }
  }

  .rightBottomBox {
    background-color: red;
    height: 170px;
    padding: 0;
    margin-top: 20px;
    background-image: url('../../../images/products/sofa-2.jpg');
    background-size: cover;
    background-position: center;
  }

  .rightBottomWrapper {
    position: relative;
    top: 10%;
    left: 40%;
    color: $color-dark;

    h3:nth-of-type(1) {
      font-size: 24px;
      color: $color-orange;
    }

    h3:nth-of-type(2) { 
      font-size: 18px;
    }
  }

  span {
    font-weight: bold;
  }

  

  
}
