$base-padding: 24px;

// START LIST OF COLORS - DO NOT CHANGE

$color-light: #ffffff;
$color-light-two: #d8d8d8;
$color-light-three: #b6b6b6;

$color-dark: #2a2a2a;
$color-dark-two: #363636;
$color-dark-three: #434343;

$color-orange: #d58e32;

// END LIST OF COLORS

$button-main-bg: $color-dark;
$button-main-color: $color-light;
$button-main-hover-bg: $color-orange;

$menubar-bg: $color-light;

$productbox-bg: $color-light;

$sale-tag-bg: $color-dark;
$sale-tag-color: $color-light;

$header-topbar-bg: $color-dark-three;
$header-bg: $color-dark-two;

$footer-claim-bg: $color-dark-three;
$footer-bg: $color-dark-two;

$primary: $color-orange;

$text-color: $color-dark;
$text-color-light: $color-light;

$form-border-color: $color-dark-two;
