$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

@mixin transition-time {
  transition: color 250ms, background-color 250ms;
}

@mixin button-hover-effect($bg-color: $primary, $text-color: #ffffff) {
  @include transition-time;
  color: $text-color !important;
  background-color: $bg-color;
  text-decoration: none;

  /* Preparation for possible transform effects:  */
  //transform: translateX(5px);
  //transition: transform 250ms;
}