@import "../../../styles/settings.scss";

.compare_box {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    transform: translateX(-50%);
    left: 50%;
    height: 100px;
    width: 800px;

}

.compare_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 100%;


    .compare_list_left {
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
    }

    .compare_item {
    margin-left: 40px;
    cursor: pointer;
    position: relative;
    &:last-of-type {
        margin-right: 40px;
    }
    &:hover img {
        opacity: 0.5;
    }
    &:before {
        position: absolute;
        top: 20px;
        right: 5px;
        left: 5px;
        height: 2px;
        content: "";
        background: #000;
        border-radius: 1px;
        transform: rotate(-45deg);
    }
    &:after {
        position: absolute;
        top: 20px;
        right: 5px;
        left: 5px;
        height: 2px;
        content: "";
        background: #000;
        border-radius: 1px;
        transform: rotate(-45deg);
    }

    }

    .compare_list_right {
        margin-left: 40px;
    }


}
